* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    box-sizing: border-box;
    scroll-behavior: smooth;
    .regular();
    color: #1E266D;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'Manrope-Light';
    src: url(../fonts/Manrope-Light.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url(../fonts/Manrope-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url(../fonts/Manrope-Regular.ttf);
    font-display: swap;
}

.light() {font-family: 'Manrope-Light', sans-serif;}
.regular() {font-family: 'Manrope-Regular', sans-serif;}
.bold() {font-family: 'Manrope-Bold', sans-serif; font-weight: 600;}

.container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 12%;
}
.main-btn {
    border: none;
    background: #5732C6;
    color: #fff;
    font-size: 1.25em;
    .light();
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    max-width: 300px;
    margin: 0px auto;
}
.main-btn:before {
    content: '';
    height: 20px;
    width: 20px;
    background: url(../img/icons/buttonarrow.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    opacity: 0;
    transition: 0.5s all linear;
}
.main-btn:hover {
    padding: 10px 50px 10px 20px;
}
.main-btn:hover:before {
    opacity: 1.0;
}
h3 {
    font-size: 2.8em;
    .bold();
}
h4 {
    font-size: 1.25em;
    margin-top: 10px;
    .light();
}
span.bold {
    .bold();
    color: #5732C6;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 0.5s;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0px;
    }
    &__logo {
        flex: 0 1 20%;
        h4 {
            .bold();
            text-transform: uppercase;
            color: #fff;
            font-size: 1.5em;
            margin: 0;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background: #5732C6;
                margin: 0;
                margin-left: 10px;
                height: 40px;
                width: 120px;
                border-radius: 30px;
                box-shadow:  2px 2px 10px rgba(30, 38, 109, 0.2),
                 -2px -2px 10px rgba(30, 38, 109, 0.2);
                 animation: logoAnimate 1s 0.5s linear forwards;
            }
        }
    }
    &__nav {
        flex: 0 1 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            color: #fff;
            font-size: 1.125em;
            .light();
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 1 20%;
        margin-left: auto;
        a.phone {
            background: #fff;
            font-size: 1.25em;
            .light();
            border-radius: 30px;
            padding: 10px 60px 10px 20px;
            transition: 0.5s;
            margin-right: 20px;
            position: relative;
            box-shadow:  2px 2px 10px rgba(30, 38, 109, 0.2),
            -2px -2px 10px rgba(30, 38, 109, 0.2);
        }
        a.phone:before {
            content: '';
            width: 30px;
            height: 30px;
            background: url(../img/icons/phone.svg) no-repeat center;
            background-size: cover;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        a.phone:hover:before {
            animation: phoneAnimate 0.3s linear infinite;
        }
    }
}

@keyframes logoAnimate {
    0% {
        color: #fff;
        background: #5732C6;
    }
    50% {
        transform: scale(1, 0.0);
    }
    100% {
        color: #5732C6;
        background: #fff;
        transform: scale(1, 1);
    }
}

@keyframes phoneAnimate {
    0% {
        transform: translateY(-50%) rotate(10deg);
    }
    50% {
        transform: translateY(-50%) rotate(-10deg);
    }
    100% {
        transform: translateY(-50%) rotate(0deg);
    }
}

.header__scroll {
    background: #fff;
    box-shadow: 0px 4px 20px rgba(30, 38, 109, 0.2);
    position: fixed;
    top: 0px;
    transform: translateY(-100%);
    transition: 0.5s;
    animation: headerShow 0.5s linear forwards;
    .header__wrapper {
        padding: 15px 0px;
    }
    .header__logo {
        h4 {
            color: #1E266D;
        }
    }
    .header__nav {
        a {
            color: #1E266D;
        }
    }
    .header__buttons {
        display: flex;
        align-items: center;
    }
}

@keyframes headerShow {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.main {
    background: url(../img/mainbg.png) no-repeat center;
    background-size: 101% 101%;
    overflow: hidden;
    &__wrapper {
        min-height: 820px;
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: auto;
        align-items: center;
    }
    &__text {
        h1 {
            color: #fff;
            font-size: 3.2em;
            text-transform: uppercase;
            .bold();
        }
        h2 {
            color: #fff;
            font-size: 2em;
            margin: 20px 0px;
        }
    }
    &__sale {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 400px;
        background: #fff;
        border-radius: 30px;
        padding: 30px;
        span {
            display: block;
            text-align: center;
        }
        span.timer {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3em;
        }
        span.timer-min,
        span.timer-sec {
            .bold();
            width: 50px;
        }
        &-button {
            min-height: 100%;
            .main-btn {
                padding: 30px;
            }
            .main-btn:before {
                display: none;
            }
        }
    }
    &__img {
        position: relative;
        min-height: 100%;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 700px;
        }
    }
}

.steps {
    padding: 200px 0px 100px 0px;
    text-align: center;
    &__wrapper {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 50px;
    }
    .step {
        transition: 0.5s all linear;
        opacity: 0;
        transform: translateY(50px);
        &-img {
            display: inline-block;
            border-radius: 50%;
            padding: 50px;
            margin-bottom: 30px;
            box-shadow: 4px 4px 20px rgba(30, 38, 109, 0.2),
                        -4px -4px 20px rgba(30, 38, 109, 0.2);
            img {
                width: 128px;
                display: block;
                margin: 0px auto;
            }
        }
        &-text {
            span {
                display: block;
                text-align: center;
            }
            span.head {
                font-size: 1.75em;
                text-transform: uppercase;
                .bold();
            }
            span.small {
                .light();
                margin-top: 10px;
            }
        }
    }
    .step-aminate {
        opacity: 1.0;
        transform: translateY(0px);
    }
    &__btn {
        padding: 50px 0px;
        .main-btn {
            max-width: 300px;
            margin: 0px auto;
        }
    }
}

.feedback {
    &__top {
        min-height: 500px;
        background: url(../img/worldbg.png) no-repeat top center;
        background-size: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h3 {
            font-size: 2.7em;
            max-width: 450px;
            text-align: center;
            text-transform: uppercase;
            .bold();
            position: relative;
            top: 60px;
            span {
                color: #5732C6;
            }
            span.person {
                display: inline-block;
                min-width: 60px;
            }
        }
    }
    &__bottom {
        background: url(../img/feedbackbg.png) no-repeat top center;
        background-size: cover;
        padding-bottom: 100px;
        h3 {
            color: #fff;
            margin: 50px 0px 30px 0px;
            font-size: 2em;
            text-align: center;
            text-transform: uppercase;
        }
        button.main-btn {
            background: #fff;
            color: #4E01CE;
            margin: 0px auto;
            padding: 15px 70px;
        }
    }
    &__slider {
        max-width: 600px;
        margin: 0px auto;
    }
    &__slide {
        position: relative;
        top: -50px;
        background: #4E01CE;
        padding: 70px 100px 50px 100px;
        border-radius: 30px;
        img {
            width: 100px;
            display: block;
            border-radius: 50%;
            border: 10px solid #4E01CE;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%) translateY(-50%);
        }
        span {
            color: #fff;
            display: block;
        }
        span.name {
            margin-top: 20px;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.125em;
            .bold();
        }
    }
}

.tariff {
    padding: 100px 0px;
    overflow: hidden;
    h3 {
        text-align: center;
        max-width: 60%;
        margin: 0px auto;
    }
    h4 {
        text-align: center;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__item {
        padding: 50px;
        border-radius: 30px;
        box-shadow: 4px 4px 20px rgba(30, 38, 109, 0.2),
        -4px -4px 20px rgba(30, 38, 109, 0.2);
        text-align: center;
        h5 {
            text-transform: uppercase;
            font-size: 1.75em;
            .bold();
        }
        span.price {
            font-size: 2.5em;
            margin: 20px 0px;
            .light();
            display: block;
        }
        ul {
            li {
                margin-bottom: 10px;
            }
            li:last-child {
                margin-bottom: 30px;
            }
        }
        button.main-btn {
            margin: 0px auto;
        }
        &-center {
            padding: 70px 50px;
            position: relative;
            transition: 0.5s all linear;
            opacity: 0;
            transform: translateY(50px);
            .tape {
                position: absolute;
                font-size: 10px;
                color: #fff;
                text-transform: uppercase;
                .bold();
                top: 25px;
                right: 10px;
                transform: rotate(90deg);
            }
        }
        &-center:before {
            content: '';
            width: 30px;
            height: 70px;
            background: url(../img/icons/tape.svg) no-repeat top center;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 20px;
        }
        &-show {
            opacity: 1.0;
            transform: translateY(0px);
        }
    }
}

.faq {
    padding: 100px 0px 70px 0px;
    h3 {
        text-align: center;
        margin-bottom: 50px;
    }
    &__item {
        border-radius: 30px;
        box-shadow: 4px 4px 20px rgba(30, 38, 109, 0.2),
        -4px -4px 20px rgba(30, 38, 109, 0.2);
    }
    &__question {
        padding: 30px 50px;
        font-size: 1.5em;
        cursor: pointer;
        position: relative;
        margin-top: 30px;
        transition: 0.5s all linear;
    }
    &__close {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #1E266D;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.5s all linear;
        span {
            width: 30px;
            height: 2px;
            border-radius: 5px;
            background: #fff;
        }
        span:nth-child(1) {
            transform: translateY(7px) rotate(-45deg);
        }
        span:nth-child(2) {
            transform: translateY(-7px) rotate(45deg);
        }
        &-show {
            transform: translateY(-50%) rotate(90deg);
        }
    }
    &__answer {
        font-size: 1em;
        padding: 0px 50px;
        visibility: hidden;
        transition: 0.5s;
        transform: scaleY(1.0);
        height: 0;
        opacity: 0;
        &-show {
            padding: 0px 50px 30px 50px;
            height: 100%;
            transform: none;
            visibility: visible;
            opacity: 1.0;
        }
    }
}

.footer {
    background: #1E266D;
    padding: 30px 0px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            color: #fff;
            font-size: 14px;
            .light();
        }
        span.copyright {
            font-size: 14px;
            color: #fff;
            .light();
        }
    }
}


@media (max-width: 1440px) {
    .container {
        padding: 0px 30px;
    }
}

@media (max-width: 1150px) {
    .container {
        padding: 0px 20px;
    }
    .main-btn {
        border: none;
        background: #5732C6;
        color: #fff;
        font-size: 1.25em;
        .light();
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    h3 {
        font-size: 2.8em;
        .bold();
    }
    h4 {
        font-size: 1.25em;
        margin-top: 10px;
        .light();
    }
    span.bold {
        .bold();
        color: #5732C6;
    }
    
    .header {
        &__logo {
            h4 {
                font-size: 1.2em;
            }
        }
        &__nav {
            flex: 0 0 40%;
            a {
                font-size: 0.875em;
            }
        }
        &__buttons {
            a.phone {
                font-size: 0em;
                border-radius: 50%;
                padding: 20px;
            }
            a.phone:before {
                width: 20px;
                height: 20px;
                right: 50%;
                transform: translateY(-50%) translateX(50%);
            }
        }
    }
    @keyframes phoneAnimate {
        0% {
            transform: translateX(50%) translateY(-50%) rotate(10deg);
        }
        50% {
            transform: translateX(50%) translateY(-50%) rotate(-10deg);
        }
        100% {
            transform: translateX(50%) translateY(-50%) rotate(0deg);
        }
    }
    .main {
        &__wrapper {
            min-height: 820px;
            grid-template-columns: 60% 40%;
        }
        &__text {
            h1 {
                font-size: 2.5em;
            }
            h2 {
                font-size: 1.5em;
            }
        }
        &__sale {
            max-width: 320px;
            background: #fff;
            border-radius: 30px;
            padding: 30px;
            span.timer {
                font-size: 2em;
            }
            span.timer-min,
            span.timer-sec {
                width: 40px;
            }
            &-button {
                .main-btn {
                    padding: 30px 15px;
                }
            }
        }
        &__img {
            img {
                left: 60%;
                transform: translateX(-50%) translateY(-50%);
                width: 500px;
            }
        }
    }
    
    .steps {
        padding: 100px 0px;
        .step {
            &-img {
                img {
                    width: 100px;
                }
            }
            &-text {
                span.head {
                    font-size: 1.25em;
                }
            }
        }
    }
    
    .tariff {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 30px;
        }
        &__item {
            padding: 70px 30px;
            &-center {
                grid-column-start: span 2;
                max-width: 50%;
                margin: 0px auto;
            }
        }
        &__item:first-child, &__item:last-child {
           grid-row-start: 2;
        }
    }
}

@media (max-width: 780px) {
    .container {
        padding: 0px 15px;
    }
    .main-btn {
        border: none;
        background: #5732C6;
        color: #fff;
        font-size: 1em;
        .light();
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 14px;
    }
    
    .header {
        &__logo {
            flex: 0 1 70%;
            h4 {
                font-size: 1em;
                span {
                    height: 30px;
                    width: 80px;
                    margin-left: 5px;
                }
            }
        }
        &__nav {
            display: none;
        }
        &__buttons {
            flex: 0 1 30%;
            justify-content: flex-end;
            a.phone {
                padding: 0;
                height: 40px;
                width: 40px;
                display: flex;
                margin-right: 5px;
            }
            a.phone:before {
                width: 30px;
                height: 30px;
                right: 50%;
                transform: translateY(-50%) translateX(50%);
            }
            .main-btn {
                height: 40px;
            }
        }
    }
    @keyframes phoneAnimate {
        0% {
            transform: translateX(50%) translateY(-50%) rotate(10deg);
        }
        50% {
            transform: translateX(50%) translateY(-50%) rotate(-10deg);
        }
        100% {
            transform: translateX(50%) translateY(-50%) rotate(0deg);
        }
    }
    .main {
        background: url(../img/mainbg.png) no-repeat center;
        background-size: cover;
        overflow: hidden;
        &__wrapper {
            min-height: 700px;
            display: flex;
        }
        &__text {
            h1 {
                font-size: 1.875em;
            }
            h2 {
                font-size: 1em;
            }
        }
        &__sale {
            min-width: 100%;
            span.timer {
                font-size: 2em;
            }
            span.timer-min,
            span.timer-sec {
                width: 40px;
            }
            &-button {
                min-height: 100%;
                .main-btn {
                    padding: 30px;
                    margin-left: auto;
                }
            }
        }
        &__img {
            display: none;
        }
    }
    
    .steps {
        padding: 80px 0px;
        &__wrapper {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
        .step {
            &-img {
                border-radius: 50%;
                padding: 50px;
                img {
                    width: 80px;
                }
            }
            &-text {
                span.head {
                    font-size: 1.5em;
                }
            }
        }
    }
    
    .feedback {
        &__top {
            min-height: 350px;
            background-size: 600px;
            h3 {
                font-size: 1.7em;
                max-width: 250px;
                top: 20px;
            }
        }
        &__bottom {
            padding-bottom: 80px;
            h3 {
                margin: 30px 0px 20px 0px;
                font-size: 1.25em;
            }
        }
        &__slider {
            max-width: 100%;
        }
        &__slide {
            top: -40px;
            background: #4E01CE;
            padding: 70px 30px 50px 30px;
            border-radius: 30px;
        }
    }
    
    .tariff {
        padding: 80px 0px;
        h3 {
            max-width: none;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 30px;
        }
        &__item {
            padding: 50px 30px;
            transform: translateX(90%) translateY(10%) rotate(45deg);
            opacity: 0;
            transition: 0.5s;
            h5 {
                font-size: 1.25em;
            }
            span.price {
                font-size: 2em;
            }
            &-center {
                padding: 50px 30px;
                grid-column-start: 1;
                grid-row-start: 1;
                min-width: 100%;
            }
        }
        &__item:first-child {
            grid-row-start: 2;
        }
        &__item:last-child {
            grid-row-start: 3;
        }
        &__item-show {
            opacity: 1.0;
            transform: translateX(0) translateY(0) rotate(0);
        }
    }
    
    .faq {
        padding: 0px 0px 80px 0px;
        h3 {
            text-align: center;
            margin-bottom: 50px;
        }
        &__question {
            padding: 20px 60px 20px 30px;
            font-size: 1em;
        }
        &__close {
            width: 30px;
            height: 30px;
            right: 20px;
            span {
                width: 16px;
            }
            span:nth-child(1) {
                transform: translateY(5px) rotate(-45deg);
            }
            span:nth-child(2) {
                transform: translateY(-5px) rotate(45deg);
            }
        }
        &__answer {
            font-size: 0.875em;
            padding: 0px 30px;
            &-show {
                padding: 0px 30px 30px 30px;
            }
        }
    }
    
    .footer {
        &__wrapper {
            flex-direction: column;
            a {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
    
}